<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Tweets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <%= link_to "Tweets", root_path, class: "navbar-brand" %>
    </div>
  </nav>
  <%= yield %>
</body>
</html>
